services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    networks:
      - a-networks
    hostname: b_host

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - a-networks
    environment:
      BACKEND_URL: http://backend:5000/

networks:
  a-networks:
    driver: bridge
